.layout-regions{
	.page{
		border:1px solid black;
		width:100%;
		float:left;
		min-height:400px;
		box-sizing: content-box;
		overflow-y: hidden;
	}
	.js-no-regions{
		margin:10px;
	}
	.region{
		float:left;
		padding:10px;
		box-sizing: content-box;
		padding:10px;
		overflow:hidden;
		min-height:58px;
		.inner{
			width:100%;
			height:100%;
			padding:10px;
			border:1px solid black;
			*{
				width:100%;
			}
			input{
				max-width:200px;
			}
		}
		.ui-resizable-s{
			bottom:5px;
		}
		.ui-resizable-e{
			right:5px;
		}
		.ui-resizable-se{
			right:11px;
			bottom:11px;
		}
	}
	.actions{
		float:left;
		margin-top:20px;
		width:100%;
		input{
			float:right;
		}
	}
}